<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>738291461408-t5cjcteoh0ses3sr4jhp73960fe4kqca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.738291461408-t5cjcteoh0ses3sr4jhp73960fe4kqca</string>
	<key>API_KEY</key>
	<string>AIzaSyBvjMqdSYYMsoouTrsHoBGeUE0GvIdgJ-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>738291461408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pollex</string>
	<key>PROJECT_ID</key>
	<string>pollex-18b14</string>
	<key>STORAGE_BUCKET</key>
	<string>pollex-18b14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:738291461408:ios:ab82f9f85258e1e2c87b45</string>
</dict>
</plist>